[project]
	description = Scripts to manage Microsoft Active Directory
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mmarseglia
[access "refs/for/refs/*"]
	read = group user/mmarseglia
	push = group user/mmarseglia
	label-Code-Review = -2..+2 group user/mmarseglia
	label-Verified = -1..+1 group user/mmarseglia
	rebase = group user/mmarseglia
	removeReviewer = group user/mmarseglia
	submit = group user/mmarseglia
[access "refs/heads/*"]
	read = group user/mmarseglia
	create = group user/mmarseglia
	push = +force group user/mmarseglia
	pushMerge = group user/mmarseglia
[access "refs/tags/*"]
	push = +force group user/mmarseglia
	pushTag = group user/mmarseglia
	pushSignedTag = group user/mmarseglia
